.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #faebe0;
}

.all {
  width: auto;
  height: auto;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 58vh;
  max-height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 6vh;
  line-height: 3vw;
  font-weight: 700;
}

.paragraph-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 2.7vh;
  line-height: 1.3vw;
  text-align: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-4 {
  height: 70vh;
  background-image: url('../images/HeroMob.png');
  background-position: 50% 50%;
  background-size: auto 60vh;
  background-repeat: no-repeat;
}

.div-block-5 {
  height: 10vh;
}

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 20vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.paragraph-3 {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 3.2vh;
  line-height: 3.5vh;
  font-weight: 700;
  text-align: center;
}

.paragraph-4 {
  width: 35vw;
  margin-top: 0.3vw;
  margin-bottom: 0vh;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1.8vh;
  line-height: 2.8vh;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  margin-bottom: 2.5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid {
  grid-auto-flow: row;
  grid-column-gap: 0vh;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  padding-top: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.group.yellow {
  padding-top: 0vh;
}

.group.orange {
  padding-top: 0vh;
}

.paragraph-5 {
  position: relative;
  z-index: 1;
  margin-bottom: 0.3vh;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 0.9vw;
  font-weight: 700;
  text-align: center;
}

.paragraph-6 {
  position: relative;
  z-index: 1;
  width: 17vw;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 0.7vw;
  line-height: 1vw;
  text-align: center;
}

.icn {
  position: relative;
  z-index: 1;
  width: 3vh;
  height: 3vh;
  margin-bottom: 0.5vh;
  background-image: url('../images/5e70d0f8dec3abf1c0bcafeb_microsite-black.png');
  background-position: 0px 0px;
  background-size: cover;
}

.icn.microsite {
  width: 2vw;
  height: 2vw;
  background-image: url('../images/5e70d0f8dec3abf1c0bcafeb_microsite-black.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icn.shop {
  width: 3.5vh;
  height: 3.5vh;
  background-image: url('../images/5e70d0f8dec3ab6d8ebcaff8_shop-black.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icn.box {
  width: 3.5vh;
  height: 3.5vh;
  background-image: url('../images/5e70d0f8dec3ab4cb0bcaff2_box-black.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14vh;
  height: 14vh;
  margin-top: -6vh;
  margin-bottom: auto;
  padding-top: 3vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/Green.svg');
  background-position: 50% 50%;
  background-size: cover;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 0.6vw;
  line-height: 1.2vh;
  font-weight: 700;
  text-align: center;
}

.button.green {
  width: 8vw;
  height: 8vw;
  margin-top: -3vw;
  padding-top: 1.5vw;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-size: 0.5vw;
  line-height: 1.2vh;
}

.button.green.purple {
  background-image: url('../images/Purple.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.button.blue {
  width: 8vw;
  height: 8vw;
  margin-top: -3vw;
  padding-top: 1.5vw;
  background-image: url('../images/Blue.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0.5vw;
  line-height: 1.2vh;
}

.button.blue.orange {
  width: 8vw;
  height: 8vw;
  margin-top: -2.2vw;
  padding-top: 0.8vw;
  background-image: url('../images/Orange.svg');
}

.button.pink {
  width: 8vw;
  height: 8vw;
  margin-top: -3vw;
  padding-top: 0vw;
  padding-bottom: 0px;
  background-image: url('../images/Pink.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0.5vw;
  line-height: 1.3vh;
}

.button.pink.yellow {
  padding-bottom: 0px;
  background-image: url('../images/Yellow.svg');
}

.image {
  height: 60vh;
}

.text-span {
  color: #b2c187;
  font-size: 1.2vw;
  line-height: 2.5vh;
  font-weight: 900;
}

.text-span.blue {
  color: #acc1c9;
}

.text-span.blue.orange {
  color: #e4c4b4;
}

.text-span.purple {
  color: #a6acc4;
}

.micro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/Img-Microsite-2.svg');
  background-position: 50% 50%;
  background-size: auto 100vh;
  background-repeat: no-repeat;
}

.micro.quickshop {
  height: auto;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-image: url('../images/Img-Quickshop_png.png');
  background-position: 50% 40%;
  background-size: 100vw 100vh;
}

.micro.hide {
  display: none;
}

.micro.unhide {
  background-image: url('../images/Img-Microsite_png.png');
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6.shop {
  margin-bottom: 20vh;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-7.shop {
  margin-left: -2.5vw;
  padding-top: 40vh;
}

.div-block-8 {
  width: 30vw;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  padding-top: 4vh;
  padding-right: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  margin-bottom: 4vh;
  padding-left: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-2 {
  width: auto;
  height: 40vh;
  margin-bottom: 3vh;
}

.image-3 {
  width: auto;
  height: 40vh;
}

.image-4 {
  width: auto;
  height: 40vh;
}

.image-5 {
  width: auto;
  height: 40vh;
  margin-top: 3vh;
}

.paragraph-7 {
  margin-bottom: 2vh;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1.5vw;
  font-weight: 700;
}

.paragraph-8 {
  width: 30vw;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 0.83vw;
  line-height: 1.3vw;
}

.paragraph-9 {
  width: 15vw;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1vw;
  line-height: 1.3vw;
  font-weight: 700;
}

.paragraph-9.shop {
  width: auto;
  font-weight: 700;
}

.div-block-11 {
  width: 2vw;
  height: 2vw;
  margin-top: 16px;
  margin-bottom: 13px;
  background-image: url('../images/5e70d0f8dec3abf1c0bcafeb_microsite-black.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-11.shop {
  margin-top: 11px;
  margin-bottom: 3px;
  background-image: url('../images/5e70d0f8dec3ab6d8ebcaff8_shop-black.png');
  background-repeat: no-repeat;
}

.div-block-12 {
  width: 25vw;
  height: auto;
  margin-left: 3.5vw;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-10 {
  width: 30vw;
  margin-bottom: 0px;
  padding-left: 0vw;
  font-family: Montserrat, sans-serif;
  font-size: 0.83vw;
  line-height: 1.3vw;
  text-align: left;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.5vw;
  height: 2vw;
  max-height: 2vh;
  max-width: 2vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url('../images/Icn-Check-Green.svg');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-15 {
  width: 5.5vw;
  height: 5.5vw;
  margin-top: 3vh;
  background-image: url('../images/-50-3.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-15.pink {
  width: 7vw;
  height: 7vw;
  background-image: none;
}

.div-block-15.green {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7vw;
  height: 7vw;
  margin-top: 1vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
  text-align: center;
}

.image-6 {
  height: 60vh;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 20vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.2vw;
  line-height: 20px;
  text-transform: uppercase;
}

.dropdown-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12vw;
  height: 3vw;
  max-width: 12vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffcdc;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Montserrat, sans-serif;
  font-size: 0.85vw;
}

.dropdown-link.blue {
  width: 17vw;
  max-width: 13vw;
  min-width: 17vw;
  background-color: #f1fdff;
}

.dropdown-link.blue.w--current {
  width: 20vw;
  min-width: 20vw;
}

.dropdown-link.blue.other {
  margin-left: 0px;
  background-color: #f3f3f3;
}

.dropdown-link.blue.currency {
  width: 12vw;
  max-width: 12vw;
  min-width: 12vw;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fffcdc;
  color: #000;
}

.navbar {
  display: block;
  width: 100vw;
  height: 6vh;
  padding-right: 2vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: transparent;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-lokavor {
  width: auto;
  height: auto;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: transparent;
}

.mask-3 {
  width: 15vw;
  height: 63vh;
  background-color: transparent;
}

.slide-13 {
  overflow: visible;
  height: 60vh;
  background-color: transparent;
  background-image: url('../images/Enter_05_min.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-14 {
  height: 60vh;
  background-image: url('../images/Map_05_min.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-15 {
  height: 60vh;
  background-image: url('../images/Filters_05_min.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-16 {
  height: 60vh;
  background-image: url('../images/SM_1_min.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.left-arrow {
  color: #b3b3b3;
}

.image-7 {
  height: 60vh;
}

.image-7.mob {
  height: 57vh;
}

.navbar-2 {
  display: none;
  width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98vw;
  max-width: 100vw;
  margin: 1vw;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-8 {
  display: inline-block;
  width: 6vw;
}

.produkte {
  display: block;
}

.produkte:hover {
  background-color: #fffcdc;
}

.produkte.other {
  display: none;
}

.image-9 {
  width: 6vw;
  margin-top: 0.7vw;
  margin-left: 5vw;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 10vh;
  max-width: 100vw;
  margin-top: 0vh;
  padding-right: 0vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.brand {
  margin-left: 0vw;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
  font-size: 0.8vw;
  text-transform: uppercase;
}

.text-block-4 {
  font-family: Montserrat, sans-serif;
  font-size: 0.8vw;
  text-transform: uppercase;
}

.dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  height: 7vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown:hover {
  background-color: #e3ecf3;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  height: 7vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-2:hover {
  background-color: #f6f8c4;
}

.navbar-3 {
  background-color: transparent;
}

.dropdown-toggle {
  display: block;
  width: 12vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-toggle.w--open {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.dropdown-toggle.sd {
  display: none;
}

.icon {
  display: none;
}

.icon-2 {
  display: none;
}

.dropdown-toggle-2 {
  width: 17vw;
  min-width: 17vw;
  padding-right: 0px;
  background-color: transparent;
}

.dropdown-toggle-2:hover {
  background-color: #f1fdff;
}

.dropdown-toggle-2.w--open {
  width: 13vw;
  background-color: #f1fdff;
}

.dropdown-toggle-2.w--open:hover {
  background-color: #f1fdff;
}

.dropdown-toggle-2.other {
  width: 17vw;
  min-width: 17vw;
  background-color: #fff;
}

.dropdown-toggle-2.other:hover {
  width: 17vw;
  min-width: 17vw;
  background-color: #f3f3f3;
}

.dropdown-toggle-2.other.w--open {
  width: 17vw;
  min-width: 17vw;
  background-color: #f3f3f3;
}

.dropdown-toggle-2.other.sd {
  background-color: #fff;
}

.dropdown-toggle-2.other.sd.w--open {
  background-color: #f3f3f3;
}

.dropdown-toggle-2.other {
  width: 17vw;
  min-width: 17vw;
  background-color: #fff;
}

.dropdown-toggle-2.other:hover {
  width: 17vw;
  min-width: 17vw;
  background-color: #f3f3f3;
}

.dropdown-toggle-2.other.w--open {
  width: 17vw;
  min-width: 17vw;
  background-color: #f3f3f3;
}

.dropdown-toggle-2.other.seidabei {
  background-color: #fcf4ed;
}

.dropdown-toggle-2.other.seidabei.w--open {
  background-color: #f3f3f3;
}

.dropdown-toggle-2.sd {
  width: 17vw;
}

.dropdown-toggle-2.sd.currency {
  width: 12vw;
  min-width: 12vw;
}

.dropdown-toggle-2.sd.currency:hover {
  background-color: #fffcdc;
}

.dropdown-toggle-2.sd.currency.w--open {
  background-color: #fffcdc;
}

.dropdown-toggle-2.sd.currency.w--open:hover {
  background-color: #fffcdc;
}

.link {
  width: 20vh;
  height: 6vh;
  margin-right: 1vw;
  margin-left: 1vw;
  border-radius: 6px;
  background-color: #000;
  background-image: url('../images/5e70d0f8dec3ab9b86bcafc6_app-store-google.png');
  background-position: 50% 50%;
  background-size: 17vh;
  background-repeat: no-repeat;
}

.link.apple {
  margin-right: 1vw;
  background-image: url('../images/5e70d0f8dec3abfd8dbcafb8_app-store-apple.png');
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  padding-left: 0vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.foot-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.foot-logo.other {
  height: 10vh;
  padding-bottom: 2vh;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: auto;
  margin-right: 2vw;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.2vw;
}

.paragraph-11.hero-text {
  margin-right: 0vw;
  margin-bottom: 1vh;
  color: #000;
  font-size: 2.7vh;
  text-align: center;
}

.image-10 {
  width: 5.5vw;
  height: auto;
  padding-top: 0.7vw;
}

.paragraph-12 {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 1.2vw;
}

.paragraph-13 {
  display: none;
}

.image-11 {
  display: none;
}

.halfcircle {
  display: none;
}

._50-green {
  display: none;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fcf4ed;
}

.button-4 {
  width: 8vw;
  height: 5vh;
  margin-left: 5vw;
  background-color: transparent;
  background-image: url('../images/5e70d0f8dec3abda49bcafd1_logo-black.png');
  background-position: 50% 50%;
  background-size: 6vw;
  background-repeat: no-repeat;
}

.section-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  min-width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paragraph-14 {
  padding-right: 74px;
  padding-left: 74px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.paragraph-15 {
  padding-right: 89px;
  padding-left: 89px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.container-3 {
  overflow: visible;
  max-width: 90vw;
  min-height: 80vh;
  padding-top: 40px;
}

.heading {
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 2.5vw;
}

.paragraph-16 {
  font-family: Montserrat, sans-serif;
  font-size: 1.2vw;
  line-height: 2vw;
  text-transform: none;
}

.content-seidabei {
  height: 90vh;
}

.sd-btn-microsite {
  width: 25vw;
  height: 25vw;
  margin-right: 2vw;
  margin-left: 2vw;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paragraph-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 3vh;
  line-height: 3.5vh;
  text-align: center;
}

.sd-lnk-microsite {
  width: 40vh;
  height: 40vh;
  margin-right: 2vh;
  margin-bottom: 0vh;
  margin-left: 2vh;
  padding: 5vh 1vh 2vh;
  background-color: #fcf4ed;
  background-image: url('../images/Back-Offer-Shop.png');
  background-position: 100% 100%;
  background-size: 40vh;
  box-shadow: 0 0 20px 1px rgba(212, 179, 155, 0.48);
  text-decoration: none;
}

.sd-lnk-microsite.quickshop {
  margin-left: 1vh;
  background-image: url('../images/Back-Offer-Shop_1.png');
  background-position: 50% 0%;
  background-size: 42vh 33vh;
  background-repeat: no-repeat;
}

.paragraph-18 {
  font-style: normal;
  text-decoration: line-through;
}

.heading-2 {
  display: block;
  color: #e71414;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.paragraph-19 {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 2.5vh;
  line-height: 3vh;
  font-weight: 700;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 0.5vh;
  padding-left: 2vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-12 {
  width: 3vh;
  height: 3vh;
  margin-left: 1vw;
  padding-left: 0px;
}

.image-12.qs {
  width: auto;
}

.paragraph-20 {
  margin-bottom: 1vh;
  padding-left: 2vw;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1.6vh;
  line-height: 2vh;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
  padding-top: 4vh;
  padding-bottom: 1vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-21 {
  margin-bottom: 0vh;
  font-family: Montserrat, sans-serif;
  font-size: 2.5vh;
  line-height: 3vh;
  text-align: center;
}

.paragraph-22 {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 3.3vh;
  line-height: 4vh;
  font-weight: 400;
  text-align: center;
}

.text-span-2 {
  font-size: 2vh;
  font-weight: 600;
}

.paragraph-23 {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 3vh;
  line-height: 3vh;
  font-weight: 800;
  text-align: center;
}

.image-13 {
  height: 15vh;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-left: 6vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-24 {
  margin-bottom: 0px;
  padding-left: 1vh;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1.3vh;
  line-height: 2.9vh;
}

.image-14 {
  width: 2vh;
  height: 2vh;
}

.paragraph-25 {
  margin-bottom: -1.5vh;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 3.2vh;
  line-height: 3vh;
  font-weight: 800;
  text-align: center;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2vh;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-27.shop {
  height: 2vh;
}

.div-block-28 {
  width: 22vh;
  height: 0.4vh;
  padding-top: 0px;
  background-color: #ea9999;
}

.div-block-29 {
  margin-bottom: 1vh;
}

.div-block-30 {
  height: 20vh;
  max-height: 20vh;
}

.div-block-31 {
  height: 20vh;
  max-height: 20vh;
}

.body {
  background-color: #fcf4ed;
}

.button-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7vw;
  height: 7vw;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7.5vw;
  background-color: #ea9999;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: 1px 1px 5vh 0.5vh rgba(195, 136, 136, 0.49);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 0.6vw;
  line-height: 0.8vw;
  text-align: center;
}

.button-5:hover {
  width: 7.4vw;
  height: 7.4vw;
  margin-top: -0.15vw;
  margin-left: -0.15vw;
  border-radius: 4vw;
  background-size: 7vw;
  font-size: 0.6vw;
}

.image-15 {
  background-image: url('../images/-50-green.png');
  background-position: 50% 50%;
  background-size: 5.5vw 5.5vw;
  background-repeat: no-repeat;
}

.button-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7vw;
  height: 7vw;
  min-height: 5.5vh;
  padding-bottom: 9px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4vw;
  background-color: #abbe61;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: 1px 1px 5vh 0.5vh rgba(147, 163, 87, 0.57);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 0.6vw;
  line-height: 0.8vw;
  text-align: center;
}

.button-6:hover {
  width: 7.4vw;
  height: 7.4vw;
  margin-left: -0.15vw;
}

.button-8 {
  display: none;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1.2vw;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 2vw;
  margin-bottom: 3vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #000;
  font-size: 1.5vw;
}

.button-9.chf {
  border-bottom: 4px solid #000;
}

.button-9.chf.w--current {
  margin-bottom: 4vh;
  font-size: 1.3vw;
}

.button-9.chf.e {
  margin-bottom: 4vh;
  border-bottom-width: 1px;
  font-size: 1.3vw;
}

.button-9.eur {
  margin-bottom: 4vh;
  border-bottom: 1px solid #000;
  font-size: 1.3vw;
}

.button-9.eur.e.w--current {
  border-bottom-width: 4px;
}

.text-span-3 {
  padding-bottom: 0px;
  background-color: hsla(0, 0%, 100%, 0);
  color: #fff;
  font-size: 1.5vw;
  font-weight: 800;
}

.text-span-4 {
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 800;
}

@media screen and (min-width: 1920px) {
  .div-block {
    height: 60vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .paragraph-2 {
    margin-bottom: 1vh;
  }

  .div-block-3 {
    margin-top: 2vh;
  }

  .micro.quickshop {
    height: 100vh;
    max-height: none;
    background-size: 100vw;
  }

  .div-block-6.shop {
    margin-bottom: 25vh;
  }

  .div-block-7.shop {
    padding-top: 40vh;
  }

  .button-5 {
    border-radius: 7.2vh;
    background-color: #ea9999;
    box-shadow: 1px 1px 5vh 6px rgba(180, 121, 121, 0.43);
  }

  .button-9.chf.w--current {
    font-size: 2.5vh;
  }

  .button-9.chf.e {
    font-size: 2.5vh;
  }

  .button-9.eur {
    font-size: 2.5vh;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    display: block;
    height: auto;
    background-color: #faebe0;
  }

  .div-block {
    height: auto;
    max-height: none;
    padding-top: 0vw;
    padding-bottom: 0vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-2 {
    height: 180px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .paragraph {
    width: 90vw;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }

  .paragraph-2 {
    margin-top: 0vw;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 16px;
  }

  .div-block-4 {
    height: 60vh;
  }

  .top {
    height: 30vw;
    padding-bottom: 0vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .paragraph-3 {
    width: 70vw;
    font-size: 3.2vw;
    line-height: 3.5vw;
    text-align: center;
  }

  .paragraph-4 {
    width: 65vw;
    margin-top: 0vh;
    font-size: 2.2vw;
    line-height: 3vw;
  }

  .slider {
    margin-top: 5.5vh;
  }

  .right {
    width: 100vw;
  }

  .left {
    width: 100vw;
    padding-top: 0vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .group {
    width: 100vw;
    height: auto;
    margin-top: 2vh;
    padding-top: 0vh;
  }

  .paragraph-5 {
    margin-top: 1.3vh;
    margin-bottom: 1.3vh;
    font-size: 3.2vw;
  }

  .paragraph-6 {
    width: 50vw;
    font-size: 2.2vw;
    line-height: 3vw;
  }

  .icn.microsite {
    width: 5vw;
    height: 5vw;
    margin-bottom: 0vh;
  }

  .icn.shop {
    width: 6vw;
    height: 6vw;
    margin-bottom: 0vh;
  }

  .icn.box {
    width: 6vw;
    height: 6vw;
    margin-bottom: 0vh;
    background-position: 50% 50%;
  }

  .button.green {
    width: 27vw;
    height: 27vw;
    margin-top: -9vw;
    padding-top: 5vw;
    font-size: 1.8vw;
    line-height: 2.2vw;
  }

  .button.blue {
    width: 27vw;
    height: 27vw;
    margin-top: -6vw;
    font-size: 1.8vw;
    line-height: 2.2vw;
  }

  .button.blue.orange {
    width: 30vw;
    height: 30vw;
    margin-top: -7.2vw;
  }

  .button.pink {
    width: 27vw;
    height: 27vw;
    margin-top: -10vw;
    font-size: 2vw;
    line-height: 2.4vw;
  }

  .text-span {
    margin-top: 1vw;
    font-size: 5vw;
  }

  .micro {
    height: 270vh;
    margin-top: 5vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: url('../images/Mob-Pink-Back-5.svg');
    background-position: 50% 0%;
    background-size: 100vw;
  }

  .micro.quickshop {
    height: auto;
    margin-top: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #eaf2d8;
    background-image: none;
  }

  .micro.hide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }

  .micro.unhide {
    display: none;
  }

  .div-block-6 {
    width: 100vw;
    height: auto;
    margin-top: -0.5vh;
    margin-bottom: 10vh;
    padding-bottom: 25vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url('../images/Subtraction-10-2.svg');
    background-position: 50% 100%;
    background-size: 100vw;
  }

  .div-block-6.shop {
    height: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 0vh;
    background-image: none;
  }

  .div-block-7 {
    width: 100vw;
    height: auto;
    padding-top: 6vh;
    padding-left: 10vw;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: auto;
  }

  .div-block-7.shop {
    height: auto;
    margin-top: 20vw;
    margin-bottom: 3vh;
    margin-left: 0vw;
    padding-top: 0vh;
    background-image: none;
  }

  .div-block-7.microsite-tablet {
    width: 100vw;
    height: auto;
    max-height: none;
    margin-top: 0vh;
    padding-top: 19vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-image: url('../images/Subtraction-11.svg');
    background-position: 50% 0%;
    background-size: 100vw;
    background-repeat: no-repeat;
  }

  .div-block-8 {
    width: 100vw;
    height: 0px;
  }

  .div-block-9 {
    width: auto;
    padding-top: 14vh;
    padding-right: 1.5vw;
  }

  .div-block-10 {
    width: auto;
    padding-left: 1.5vw;
  }

  .image-2 {
    width: auto;
    height: 450px;
  }

  .image-3 {
    width: auto;
    height: 450px;
  }

  .image-4 {
    width: auto;
    height: 450px;
  }

  .image-5 {
    width: auto;
    height: 450px;
  }

  .paragraph-7 {
    font-size: 5vw;
    line-height: 5vw;
  }

  .paragraph-8 {
    width: 80vw;
    margin-bottom: 2vh;
    font-size: 2.2vw;
    line-height: 3vw;
  }

  .paragraph-9 {
    width: 50vw;
    font-size: 3.2vw;
    line-height: 3vw;
  }

  .div-block-11 {
    width: 5vw;
    height: 5vw;
  }

  .div-block-11.shop {
    margin-bottom: 3vh;
  }

  .div-block-12 {
    width: auto;
    margin-left: 0vw;
    padding-left: 10vw;
  }

  .div-block-13 {
    width: auto;
  }

  .paragraph-10 {
    width: 50vw;
    font-size: 2.2vw;
    line-height: 4vw;
  }

  .div-block-14 {
    width: 20px;
    height: 20px;
    max-height: none;
    max-width: none;
    margin-top: 0.7vh;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .div-block-15.pink {
    display: none;
    width: 30vw;
    height: 30vw;
    margin-top: 10vh;
    margin-bottom: -30vh;
    margin-left: 192px;
  }

  .div-block-15.green {
    display: none;
  }

  .image-6 {
    width: 50vw;
    height: auto;
  }

  .text-block-2 {
    font-size: 15px;
  }

  .dropdown-link {
    width: 100vw;
    height: 7vh;
    max-width: 100vw;
    padding-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
  }

  .dropdown-link.blue {
    width: 100vw;
    max-width: 100vw;
  }

  .dropdown-link.blue.w--current {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-link.blue.currency {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
  }

  .navbar {
    display: block;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .mask-3 {
    width: 60vw;
    height: 600px;
  }

  .slide-13 {
    height: 600px;
  }

  .slide-14 {
    height: 600px;
  }

  .slide-15 {
    height: 600px;
  }

  .slide-16 {
    height: 600px;
  }

  .image-7 {
    width: auto;
    height: 55vh;
  }

  .image-7.mob {
    height: 55vh;
  }

  .produkte {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-9 {
    width: auto;
    height: 30px;
    margin-top: 0vw;
    margin-left: 10vw;
  }

  .div-block-16 {
    height: 8vh;
    margin-top: 0vh;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav-menu-2 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: transparent;
  }

  .ber-lokavor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }

  .ber-lokavor:hover {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle {
    width: 100vw;
    background-color: #f1dccd;
  }

  .dropdown-toggle.w--open {
    border-bottom: 1px solid #e6e2b7;
    background-color: #fffcdc;
  }

  .icon {
    display: none;
  }

  .dropdown-toggle-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f1dccd;
  }

  .dropdown-toggle-2.w--open {
    width: 100vw;
    border-bottom: 1px solid #bcdcf1;
    background-color: #f1fdff;
  }

  .dropdown-toggle-2.sdmicrosite {
    width: 30vw;
  }

  .dropdown-toggle-2.other {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #f3f3f3;
  }

  .dropdown-toggle-2.other:hover {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle-2.other:active {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle-2.other.w--open {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle-2.other {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #f3f3f3;
  }

  .dropdown-toggle-2.other:hover {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle-2.other:active {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle-2.other.w--open {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle-2.sd {
    width: 100vw;
    min-width: 100vw;
    background-color: #f1dccd;
  }

  .dropdown-toggle-2.sd:hover {
    background-color: #f1fdff;
  }

  .dropdown-toggle-2.sd.currency {
    width: 100vw;
    min-width: 100vw;
    background-color: #f1dccd;
  }

  .dropdown-toggle-2.sd.currency:hover {
    border: 1px solid transparent;
  }

  .dropdown-toggle-2.sd.currency.w--open {
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent #eadf8c;
    background-color: #fffcdc;
  }

  .dropdown-toggle-2.sd.open.w--open {
    background-color: #f1fdff;
  }

  .icon-3 {
    color: #000;
    font-size: 5vw;
  }

  .menu-button {
    background-color: #faebe0;
  }

  .menu-button.w--open {
    background-color: #faebe0;
  }

  .menu-button.other {
    background-color: #fff;
  }

  .menu-button.sd {
    background-color: transparent;
  }

  .link {
    width: 150px;
    height: 50px;
    background-size: 120px;
  }

  .link.apple {
    padding-top: 9px;
  }

  .section-5 {
    height: 30vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .div-block-17 {
    width: auto;
    height: auto;
    padding-left: 0vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .foot-logo {
    width: 100vw;
    height: 15vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #faebe0;
  }

  .foot-logo.other {
    height: 7vh;
    padding-bottom: 1vh;
    background-color: transparent;
  }

  .paragraph-11 {
    font-size: 2.5vw;
  }

  .paragraph-11.hero-text {
    font-size: 16px;
    line-height: 16px;
  }

  .image-10 {
    width: 8vw;
    padding-top: 1.1vw;
  }

  .paragraph-12 {
    font-size: 1.8vw;
  }

  .icon-4 {
    color: #b3b3b3;
  }

  .paragraph-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 30vh;
    max-width: 100vw;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    color: #f7e2d7;
    font-size: 16vw;
    line-height: 14vw;
    font-weight: 900;
  }

  .section-6 {
    display: none;
    width: 100vw;
    height: 35vh;
    max-width: 100vw;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .image-11 {
    display: block;
    width: 170px;
    height: 170px;
    margin-top: 0vh;
  }

  .div-block-20 {
    display: block;
    height: 30vh;
    margin-top: -1vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url('../images/Halfcircle.svg');
    background-position: 50% 0%;
    background-size: 100vw;
    background-repeat: no-repeat;
  }

  .halfcircle {
    display: block;
  }

  ._50-green {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button-2 {
    width: 27vw;
    height: 27vw;
  }

  .button-3 {
    width: 170px;
    height: 170px;
    margin-bottom: -14vw;
    border-radius: 170px;
    background-color: transparent;
    background-image: url('../images/-50-4.svg');
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 1px 1px 5vh 0.5vh rgba(171, 190, 97, 0.62);
  }

  .div-block-21 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 15vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-22 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 250px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/Subtraction-14.svg');
    background-position: 50% 50%;
    background-size: 100vw;
  }

  .button-4 {
    width: 140px;
    height: 50px;
    background-size: 100px;
  }

  .footer {
    height: auto;
  }

  .container-3 {
    max-width: 80vw;
    padding-top: 0px;
  }

  .heading {
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding-top: 3vh;
    padding-bottom: 4vh;
    font-size: 3vw;
  }

  .paragraph-16 {
    font-size: 1.5vw;
    line-height: 2.3vw;
  }

  .sd-lnk-microsite {
    width: 40vh;
  }

  .paragraph-19 {
    font-size: 2.2vh;
  }

  .div-block-24 {
    padding-left: 1.5vh;
  }

  .image-12 {
    margin-left: 1vh;
  }

  .paragraph-20 {
    padding-left: 1.5vh;
    font-size: 1.3vh;
    line-height: 1.8vh;
  }

  .div-block-26 {
    height: auto;
  }

  .paragraph-24 {
    line-height: 2vh;
  }

  .button-7 {
    width: 170px;
    height: 170px;
    border-radius: 170px;
    background-color: transparent;
    background-image: url('../images/Mob--50.svg');
    background-position: 50% 50%;
    background-size: 170px;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5vh 0.5vw rgba(234, 153, 153, 0.66);
  }

  .button-9.chf.w--current {
    width: 10vw;
    height: 4vw;
    font-size: 2vw;
  }

  .button-9.chf.e {
    width: 10vw;
    height: 4vw;
    font-size: 2vw;
  }

  .button-9.eur {
    width: 10vw;
    height: 4vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: auto;
    max-height: 100vh;
  }

  .all {
    height: auto;
    max-height: none;
  }

  .div-block {
    max-height: 30vh;
    padding-top: 0vw;
    padding-bottom: 0vw;
  }

  .div-block-2 {
    height: 20vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .paragraph {
    margin-bottom: 5px;
    font-size: 5vh;
    line-height: 4.5vh;
  }

  .paragraph-2 {
    margin-bottom: 5px;
    line-height: 2vh;
  }

  .top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    background-color: transparent;
  }

  .paragraph-3 {
    margin-top: 0vh;
    margin-bottom: 0px;
    font-size: 3.2vh;
  }

  .paragraph-4 {
    margin-top: 0vh;
    margin-bottom: 7vh;
  }

  .dropdown-link.blue.currency {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
  }

  .image-7 {
    height: auto;
    max-height: 35vh;
  }

  .image-9 {
    height: 5vh;
  }

  .div-block-16 {
    margin-top: 0vh;
  }

  .link {
    width: 16vw;
    height: 5vh;
    background-size: 14vw;
  }

  .dropdown-list-2 {
    width: 100vw;
  }

  .dropdown-list-2.w--open {
    width: auto;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .div-block {
    height: 50vh;
    max-height: none;
    max-width: 100vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }

  .div-block-2 {
    width: 100vw;
    margin-bottom: 7vh;
    padding-left: 0vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph {
    width: 90vw;
    font-size: 8vw;
    line-height: 9vw;
    text-align: center;
  }

  .paragraph-2 {
    width: 90vw;
    font-size: 3.5vw;
    text-align: center;
  }

  .div-block-3 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .top {
    height: 35vw;
    padding-bottom: 2vh;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: transparent;
  }

  .paragraph-3 {
    width: 85vw;
    font-size: 4.7vw;
    line-height: 5.2vw;
  }

  .paragraph-4 {
    width: 80vw;
    margin-top: 1vh;
    margin-bottom: 0vh;
    font-size: 2.8vw;
    line-height: 3.5vw;
  }

  .group {
    margin-top: 2vh;
  }

  .paragraph-5 {
    margin-top: 0vh;
    margin-bottom: 0vh;
    font-size: 3.8vw;
  }

  .paragraph-6 {
    width: 65vw;
    font-size: 2.8vw;
    line-height: 3.5vw;
  }

  .icn.microsite {
    width: 7vw;
    height: 7vw;
  }

  .icn.shop {
    width: 8vw;
    height: 8vw;
  }

  .icn.box {
    width: 8vw;
    height: 8vw;
  }

  .div-block-6 {
    margin-bottom: 10vh;
    padding-bottom: 10vh;
    background-image: url('../images/Mob-Pink-Back-5.svg');
    background-repeat: no-repeat;
  }

  .div-block-6.shop {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .div-block-7.microsite-tablet {
    background-image: url('../images/Mob-Pink-Back-5.svg');
  }

  .div-block-9 {
    padding-top: 7vh;
  }

  .image-2 {
    width: 40vw;
    height: auto;
  }

  .image-3 {
    width: 40vw;
    height: auto;
  }

  .image-4 {
    width: 40vw;
    height: auto;
  }

  .image-5 {
    width: 40vw;
    height: auto;
  }

  .paragraph-8 {
    font-size: 2.8vw;
    line-height: 4vw;
  }

  .paragraph-9 {
    font-size: 3.7vw;
    line-height: 4.3vw;
  }

  .div-block-11 {
    width: 7vw;
    height: 7vw;
  }

  .div-block-11.shop {
    margin-bottom: 1vh;
  }

  .paragraph-10 {
    width: 70vw;
    font-size: 2.8vw;
  }

  .div-block-14 {
    width: 4vw;
    height: 4vw;
    margin-top: 0vh;
  }

  .image-6 {
    width: 60vw;
  }

  .slider-lokavor {
    display: block;
    height: 190vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
  }

  .mask-3 {
    width: 80vw;
    height: 100vh;
    min-width: 80vw;
    margin-left: 0px;
  }

  .slide-13 {
    width: 80vw;
    height: 100vh;
    max-width: 80vw;
    min-width: 80vw;
    padding-right: 0px;
    padding-bottom: 0px;
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }

  .slide-14 {
    width: 80vw;
    height: 100vh;
    max-width: 80vw;
    min-width: 80vw;
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }

  .slide-15 {
    height: 100vh;
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }

  .slide-16 {
    height: 100vh;
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }

  .left-arrow {
    max-height: 20vh;
  }

  .right-arrow {
    max-height: 20vh;
  }

  .image-7 {
    width: auto;
    height: auto;
    max-height: 38vh;
    max-width: 100vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
  }

  .image-7.mob {
    height: auto;
  }

  .image-9 {
    height: 3vh;
    margin-top: 0.6vw;
  }

  .div-block-16 {
    height: 7vh;
  }

  .brand {
    padding-left: 0px;
  }

  .ber-lokavor:hover {
    width: 100vw;
    max-width: 100vw;
  }

  .dropdown-toggle-2.other:hover {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle-2.other.w--open {
    min-width: 100vw;
  }

  .dropdown-toggle-2.other:hover {
    width: 100vw;
    min-width: 100vw;
  }

  .dropdown-toggle-2.other.w--open {
    min-width: 100vw;
  }

  .icon-3 {
    font-size: 7vw;
  }

  .menu-button {
    background-color: #faebe0;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .menu-button.sd {
    background-color: transparent;
  }

  .link {
    width: 30vw;
    height: 10vw;
    margin-right: 4vw;
    margin-left: 0vw;
    background-size: 26vw;
  }

  .section-5 {
    height: auto;
  }

  .foot-logo {
    height: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .foot-logo.other {
    padding-top: 0vh;
  }

  .paragraph-11 {
    margin-top: 2vh;
    margin-right: 0vw;
    margin-bottom: 2vh;
    font-size: 5vw;
  }

  .paragraph-11.hero-text {
    margin-top: 0vh;
    font-size: 3.5vw;
    line-height: 4vw;
  }

  .image-10 {
    width: 16vw;
    padding-top: 2vw;
  }

  .paragraph-12 {
    font-size: 3vw;
  }

  .div-block-20 {
    height: 15vh;
  }

  .button-3 {
    width: 150px;
    height: 150px;
    background-image: url('../images/-50-green.png');
  }

  .div-block-21 {
    height: auto;
    margin-bottom: 2vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .slide-nav {
    padding-top: 2vh;
  }

  .section-7 {
    height: auto;
    background-image: none;
  }

  .button-4 {
    width: 80px;
    height: 30px;
    background-size: 60px;
  }

  .heading {
    font-size: 4vw;
  }

  .paragraph-16 {
    font-size: 2vw;
    line-height: 3vw;
  }

  .content-seidabei {
    height: auto;
  }

  .div-block-23 {
    height: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .sd-lnk-microsite {
    margin-bottom: 4vh;
  }

  .paragraph-20 {
    font-size: 1.7vh;
    line-height: 2vh;
  }

  .paragraph-24 {
    font-size: 1.7vh;
    line-height: 2.5vh;
  }

  .body {
    background-color: #fcf4ed;
  }

  .button-7 {
    width: 150px;
    height: 150px;
    background-image: url('../images/Mob--50-pink.png');
    background-size: 150px;
  }

  .div-block-32 {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .button-9.chf.w--current {
    width: 20vw;
    font-size: 4vw;
  }

  .button-9.chf.e {
    width: 20vw;
    margin-bottom: 4vh;
    font-size: 4vw;
  }

  .button-9.eur {
    width: 20vw;
    font-size: 4vw;
  }
}